<!--     Author- Ankit Mahendru       -->
<!--     StudentID-301205519     -->
<!--     Last Updated on 28/09/2021      -->
<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

<main>
<!--     Changing the Content of Webpage based on title      -->
<% if(title == "About Me"){ %>
  <%- include partials/aboutme.ejs %> 
<% } else if(title == "Home"){ %>
  <%- include partials/home.ejs %> 
<% } else if(title == "Products"){ %>
  <%- include partials/products.ejs %> 
<% } else if(title == "Contacts"){ %>
  <%- include partials/contacts.ejs %> 
<% } else if(title == "Services"){ %>
  <%- include partials/services.ejs %> 
<% } %>


</main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 